# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out
/apps/ng2-charts-e2e/src/e2e/__image_snapshots__/*.actual.png
/apps/ng2-charts-e2e/src/e2e/__image_snapshots__/*.diff.png

# dependencies
node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/temp
/Web.config

.angular
