# Add files here to ignore them from prettier formatting
/dist
/coverage
/node_modules
.angular

# Ignore this file or it will break markdown formatting
/apps/ng2-charts-demo/src/app/landing/landing.component.html

/.nx/cache
