dist: trusty
sudo: false

language: node_js
node_js:
  - '8'

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

cache:
  directories:
    - ./node_modules
    - ~/.cache
    - ~/.npm

install:
  - npm ci

  # Handle git submodules yourself
git:
    submodules: false
# Use sed to replace the SSH URL with the public URL, then initialize submodules
before_install:
    - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules

script:
  - npm run install:financial
  - npm run build:financial
  - npm run build:lib
  - npm run test -- --watch=false --no-progress --browsers=ChromeHeadless
  - ng serve &
  - $(npm bin)/wait-on http-get://localhost:4200/#
  - npm run test:main
  - npm run test:screenshot
  - kill $(jobs -p) || true
