  <div class="col-md-6">

    <canvas baseChart
                [data]="lineChartData"
                [labels]="lineChartLabels"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
  </div>
  <div class="col-md-6">
    <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
  </div>
  <div class="col-md-12 text-center" style="margin-top: 10px;height: 50%">
    <button (click)="randomizeType()" style="display: inline-block">Toggle</button>
  </div>


