<div [ngClass]="selectedTheme">
  <mat-toolbar color="primary">
    <div class="toolbar">
      ng2-charts
      <button mat-button (click)="selectedTheme='ng2-charts-demo-dark-theme'">Dark Theme</button>
      <button mat-button (click)="selectedTheme='ng2-charts-demo-light-theme'">Light Theme</button>
    </div>
  </mat-toolbar>
  <main class="bd-pageheader">
    <div class="container">
      <img alt="" src="http://www.chartjs.org/img/chartjs-logo.svg"
        style="background: url('//angular.io/resources/images/logos/angular2/angular.svg') top center no-repeat;background-size: contain;">
      <h1>ng2-charts</h1>
      <p>Angular2 directives for <a href="http://www.chartjs.org/" style="color:white">Chart.js</a></p>
      <a mat-button mat-raised-button color="primary" href="https://github.com/valor-software/ng2-charts">View on GitHub</a>
      <div class="badges">
        <div class="badge"><iframe frameborder="0" height="20px" scrolling="0"
            src="https://ghbtns.com/github-btn.html?user=valor-software&amp;repo=ng2-charts&amp;type=star&amp;count=true"
            width="170px"></iframe></div>
        <div class="badge"><iframe frameborder="0" height="20px" scrolling="0"
            src="https://ghbtns.com/github-btn.html?user=valor-software&amp;repo=ng2-charts&amp;type=fork&amp;count=true"
            width="170px"></iframe></div>
      </div>
    </div>
  </main>
  <div class="section">
    <mat-tab-group>
      <mat-tab label="General Info">
          <div class="section">
              <h2>API</h2>
              <markdown ngPreserveWhitespaces>
            ### Usage

            ```typescript
                import {{ '{' }} ChartsModule } from 'ng2-charts';

                // In your App's module:
                imports: [
                  ChartsModule
                ]
            ```

            ### Chart types
            There are one directive for all chart types: `baseChart`, and there are 8 types of charts: `line`, `bar`, `radar`, `pie`, `polarArea`, `doughnut`, `bubble` and `scatter`.

            ### Properties

            **Note**: For more information about possible options please refer to original [chart.js](http://www.chartjs.org/docs) documentation

            - `data` (`SingleOrMultiDataSet`) -  set of points of the chart, it should be `MultiDataSet` only for `line`, `bar`, `radar` and `doughnut`, otherwise `SingleDataSet`
            - `datasets` (`{{ '{' }}data: SingleDataSet, label: string}[]`) - `data` see about, the `label` for the dataset which appears in the legend and tooltips
            - `labels` (`Label[]`) - x axis labels. It's necessary for charts: `line`, `bar` and `radar`. And just labels (on hover) for charts: `polarArea`, `pie` and `doughnut`. `Label` is either a single `string`, or it may be a `string[]` representing a multi-line label where each array element is on a new line.
            - `chartType` (`ChartType`) - indicates the type of charts, it can be: `line`, `bar`, `radar`, `pie`, `polarArea`, `doughnut`
            - `options` (`ChartOptions`) - chart options (as from [Chart.js documentation](http://www.chartjs.org/docs/))
            - `colors` (`Color[]`) - data colors, will use default and|or random colors if not specified (see below)
            - `legend`: (`boolean = false`) - if true show legend below the chart, otherwise not be shown

            ### Events

            - `chartClick`: fires when click on a chart has occurred, returns information regarding active points and labels
            - `chartHover`: fires when mousemove (hover) on a chart has occurred, returns information regarding active points and labels


            ### Colors

            There are a set several default colors. Colors can be replaced using the `colors` attribute. If there is more data than colors, colors are generated randomly.

            ### Dynamic Theming

              The `ChartsModule` provides a service called `ThemeService` which allows clients to set a structure specifying colors override settings. This service may be called when the dynamic theme changes, with colors which fit the theme. The structure is interpreted as an override, with special functionality when dealing with arrays. Example:

              ```typescript
              type Theme = 'light-theme' | 'dark-theme';

              private _selectedTheme: Theme = 'light-theme';
              public get selectedTheme() {{ '{' }}
                return this._selectedTheme;
              }
              public set selectedTheme(value) {{ '{' }}
                this._selectedTheme = value;
                let overrides: ChartOptions;
                if (this.selectedTheme === 'dark-theme') {{ '{' }}
                  overrides = {{ '{' }}
                    legend: {{ '{' }}
                      labels: {{ '{' }} fontColor: 'white' }
                    },
                    scales: {{ '{' }}
                      xAxes: [{{ '{' }}
                        ticks: {{ '{' }} fontColor: 'white' },
                        gridLines: {{ '{' }} color: 'rgba(255,255,255,0.1)' }
                      }],
                      yAxes: [{{ '{' }}
                        ticks: {{ '{' }} fontColor: 'white' },
                        gridLines: {{ '{' }} color: 'rgba(255,255,255,0.1)' }
                      }]
                    }
                  };
                } else {{ '{' }}
                  overrides = {{ '{' }}};
                }
                this.themeService.setColorschemesOptions(options);
              }

              constructor(private themeService: ThemeService) {{ '{' }} }

              setCurrentTheme(theme: Theme) {{ '{' }}
                this.selectedTheme = theme;
              }
              ```

              The `overrides` object has the same type as the chart options object `ChartOptions`, and wherever a simple field is encountered it replaces the matching field in the `options` object. When an array is encountered (as in the `xAxes` and `yAxes` fields above), the single object inside the array is used as a template to override all array elements in the matching field in the `options` object. So in the case above, every axis will have its ticks and gridline colors changed.

              </markdown>
            </div>

      </mat-tab>
      <mat-tab label="Line Chart"><app-chart-host chartType="line"><app-line-chart #main></app-line-chart></app-chart-host></mat-tab>
      <mat-tab label="Bar Chart"><app-chart-host chartType="bar"><app-bar-chart #main></app-bar-chart></app-chart-host></mat-tab>
      <mat-tab label="Doughnut Chart"><app-chart-host chartType="doughnut"><app-doughnut-chart #main></app-doughnut-chart></app-chart-host></mat-tab>
      <mat-tab label="Radar Chart"><app-chart-host chartType="radar"><app-radar-chart #main></app-radar-chart></app-chart-host></mat-tab>
      <mat-tab label="Pie Chart"><app-chart-host chartType="pie"><app-pie-chart #main></app-pie-chart></app-chart-host></mat-tab>
      <mat-tab label="Polar Area Chart"><app-chart-host chartType="polar-area"><app-polar-area-chart #main></app-polar-area-chart></app-chart-host></mat-tab>
      <mat-tab label="Bubble Chart"><app-chart-host chartType="bubble"><app-bubble-chart #main></app-bubble-chart></app-chart-host></mat-tab>
      <mat-tab label="Scatter Chart"><app-chart-host chartType="scatter"><app-scatter-chart #main></app-scatter-chart></app-chart-host></mat-tab>
      <mat-tab label="Dynamic Chart"><app-chart-host chartType="dynamic"><app-dynamic-chart #main></app-dynamic-chart></app-chart-host></mat-tab>
    </mat-tab-group>
  </div>
  <footer class="footer">
    <div class="container">
      <p class="text-muted text-center"><a href="https://github.com/valor-software/ng2-charts">ng2-charts</a> is
        maintained by <a href="https://github.com/valor-software">valor-software</a>.</p>
    </div>
  </footer>
</div>
