.badges {
  .badge {
    display: inline-block;
    width: 100px;
  }
}

footer {
  .text-center {
    text-align: center;
  }
  p {
    margin-bottom: 10px;
  }
}

.container {
  width: 1170px;
  margin: auto;
  p {
    margin-top: 0;
  }
  h1 {
    margin-bottom: 0;
    font-size: 60px;
    font-weight: 500;
  }
}

.outer-container {
  width: calc(100% - 100px);
  margin: auto;
}

.section {
  width: 1170px;
  margin: auto;
}

.bd-pageheader,
.bs-docs-masthead {
  color: #cdbfe3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  background-color: #6f5499;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#563d7c), to(#6f5499));
  background-image: -webkit-linear-gradient(top, #563d7c 0, #6f5499 100%);
  background-image: -o-linear-gradient(top, #563d7c 0, #6f5499 100%);
  background-image: linear-gradient(to bottom, #563d7c 0, #6f5499 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
  background-repeat: repeat-x;
}

.bd-pageheader {
  margin-bottom: 40px;
  font-size: 20px;
}

.bd-pageheader h1 {
  margin-top: 0;
  color: #fff;
}

.bd-pageheader p {
  margin-bottom: 0;
  font-weight: 300;
  line-height: 1.4;
}

.bd-pageheader .btn {
  margin: 10px 0;
}

@media (min-width: 992px) {
  .bd-pageheader h1,
  .bd-pageheader p {
    margin-right: 380px;
  }
}

@media (min-width: 768px) {
  .bd-pageheader {
    font-size: 24px;
    text-align: left;
  }
  .bd-pageheader h1 {
    font-size: 60px;
    line-height: 1;
  }
}

@media (max-width: 640px) {
  .container {
    width: 570px;
  }
  .section {
    width: 570px;
  }
}

@media (max-width: 360px) {
  .container {
    width: 320px;
  }
  .section {
    width: 320px;
  }
}
