<section id="{{id}}" style="padding-top: 50px;">
  <div class="row">
    <div class="col-md-12">
      <h4>{{heading}}</h4>
    </div>
  </div>
  <div class="card card-block panel panel-default panel-body">
    <ng-content></ng-content>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-tab-group>
        <mat-tab label="Markup">
          <div class="card card-block panel panel-default panel-body">
            <pre><code [highlight]="html"></code></pre>
          </div>
        </mat-tab>
        <mat-tab label="TypeScript">
          <div class="card card-block panel panel-default panel-body">zzz
            <pre><code [highlight]="ts"></code></pre>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
