<section style="padding: 0 1em">
  <h4>{{ heading }}</h4>
  <ng-content></ng-content>
</section>

<mat-tab-group>
  <mat-tab label="Markup">
    <div style="padding: 2em">
      <mat-card>
        <mat-card-content>
          <pre><code [highlight]="html"></code></pre>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="TypeScript">
    <div style="padding: 2em">
      <mat-card>
        <mat-card-content>
          <pre><code [highlight]="ts"></code></pre>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
