@use '@angular/material' as mat;
@import 'highlight.js/scss/github.scss';

@include mat.core();

// Define a light theme
$light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$deep-purple-palette),
    accent: mat.define-palette(mat.$amber-palette),
  ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(),
  density: 0,
));

// Define a dark theme
$dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$deep-purple-palette),
    accent: mat.define-palette(mat.$amber-palette),
  ),
));

// Apply the light theme by default
@include mat.all-component-themes($light-theme);

// Apply the light theme only when the user prefers light themes.
.dark-theme {
  @include mat.all-component-colors($dark-theme);
  @import 'highlight.js/scss/github-dark.scss';

  .hljs {
    background: transparent;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.button-row > button { margin-right: 8px; }

.chart {
  width: 60%;
  margin: auto;
}

.hljs {
  background: transparent;
}
